<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />

</head>

<body>
    <div class="main-content">
        {{>header}}

        <h4>Technology Used</h4>
        <ul class="about-list">
            <li>Node js & Express js</li>
            <li>OpenWeathermap Api</li>
            <li>MapBox Api</li>
        </ul>


    </div>


    {{>footer}}
</body>

</html>