body {
  color: #333333;
  font-family: Arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
  text-align: center;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
  text-align: center;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}
.heading-para {
  color: #888888;
  font-size: 20px;
  font-weight: 15px;
  text-align: center;
  text-transform: uppercase;
}

header a {
  color: #888888;
  margin-right: 12px;
  text-decoration: none;
  padding: 5px;
  border-bottom: 1px solid #888888;
  border-top: 1px solid #888888;
}
header a:hover {
  color: white;
  background: #888888;
}
header h1 {
  text-transform: uppercase;
}
.portrait {
  width: 250px;
}
.form-1 {
  text-align: center;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  padding: 8px;
  color: white;
}
button:hover {
  color: #888888;
  background: white;
}
p {
  font-size: 25px;
  font-weight: 10px;
  color: #888888;
}
.about-list {
  list-style-type: square;
}
.about-list li {
  padding: 5px;
  color: #888888;
}
